.vscode/settings.json
__pycache__/__init__.cpython-39.pyc
__pycache__/__init__.cpython-310.pyc
__pycache__/__main__.cpython-39.pyc
__pycache__/__main__.cpython-310.pyc
__pycache__/config.cpython-39.pyc
__pycache__/config.cpython-310.pyc
__pycache__/decorators.cpython-39.pyc
__pycache__/decorators.cpython-310.pyc
__pycache__/definitions.cpython-39.pyc
__pycache__/definitions.cpython-310.pyc
__pycache__/megadock.cpython-39.pyc
__pycache__/megadock.cpython-310.pyc
__pycache__/structure_tools.cpython-39.pyc
__pycache__/tools.cpython-39.pyc
__pycache__/tools.cpython-310.pyc
config/__pycache__/config.cpython-39.pyc
config/__pycache__/config.cpython-310.pyc
run/__pycache__/__init__.cpython-39.pyc
run/__pycache__/megadock.cpython-39.pyc
run/__pycache__/megadock.cpython-310.pyc
test/__pycache__/__init__.cpython-39.pyc
test/__pycache__/config_test.cpython-39-pytest-7.2.1.pyc
test/__pycache__/megadock_test.cpython-39-pytest-7.2.1.pyc
test/__pycache__/struct_prox_test.cpython-39-pytest-7.2.1.pyc
test/__pycache__/struct_prox_test.cpython-39.pyc
tools/__pycache__/__init__.cpython-39.pyc
tools/__pycache__/decorators.cpython-39.pyc
tools/__pycache__/decorators.cpython-310.pyc
tools/__pycache__/script_tools.cpython-39.pyc
tools/__pycache__/script_tools.cpython-310.pyc
tools/__pycache__/structure_tools.cpython-39.pyc
tools/__pycache__/structure_tools.cpython-310.pyc
